# 浏览器兼容列表配置
# 详细配置可参考：https://juejin.cn/post/6844903669524086797

# 基于全球使用率统计而选择的浏览器版本范围
> 1%

# 每个浏览器最近的两个版本
last 2 versions

# dead -> 通过 last 2 versions 筛选的浏览器版本中，全球使用率低于 0.5% 并且官方声明不在维护或者事实上已经两年没有再更新的版本
#not dead
# 浏览器范围的取反
not ie <= 8
