/* 覆盖浏览器默认的 user agent stylesheet */
@charset "utf-8";
html {

}

body {
    background-color: #f3f3f3;
    /* 这一句是用来解决在安卓上的点击出现蓝色背景问题 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 全局样式 */
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    /*color: #333;*/
    color: inherit;
}

a:hover, a:visited, a:link, a:active {
    color: inherit;
}

/* 解决ios上去除微信点击蓝色边框 */
a:focus, input:focus, p:focus, div:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*-webkit-user-modify: read-write-plaintext-only;*/
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

img {
    border: 0;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
}

select {
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

address, caption, cite, code, dfn, em, strong, th, var {
    /*font-style:normal;
    font-weight:normal;*/
}

ol, ul, li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    /*font-size:100%;
    font-weight:normal;*/
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* 斜体 */
i {
    font-style: normal;
}

/* 聚焦边框 */
:focus {
    outline: none;
}


/* 全局自定义样式 */
/* 更多操作按钮 */
.more_func {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
}

.more_func_btn {
    cursor: pointer;
    font-size: 18px;
    color: #8a8a8a;
    /*transform: rotate(90deg); /* 顺时针旋转90° */
}

.el-icon-setting {
    font-size: 18px;
}

/* 下拉框三角 */
.el-dropdown__popper > .el-popper__arrow {
    display: none;
}

/* 提示框位置 */
.el-message-box {
    position: relative;
    top: -30%;
}

/* 弹出框内容padding设置 */
.el-dialog__body {
    padding: 20px;
    word-break: break-all;
}

/* element-ui form 表单按钮样式 */
.func_btn_area {
    margin-top: 30px;
}

/* 编辑框按钮居中 */
.func_btn_area>.el-form-item__content {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

/* 编辑框两个按钮间距 */
.func_btn_submit {
    margin-right: 10px;
}

/* svg图标间距 */
.el-dropdown-menu__item svg {
    margin-right: 5px;
}

/* 返回顶部按钮 */
.back_to_top {
    border-radius: unset !important;
    right: 163px !important;
    bottom: 100px !important;
}

.back_to_top:hover {
    background-color: unset;
}

.back_to_top_h5 {
    right: 40px !important;
    bottom: 100px !important;
}

/* element-ui dialog 宽度 */
.el-dialog {
    width: max-content !important;
}

/* element-ui 气泡框 位置调整 */
.el-popper {
    margin-top: -7px!important;
}
